<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buky.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8AE2ADE2F2A442E006F15D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8AE2AF02F2A442F006F15D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8AE2AFA2F2A442F006F15D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
