<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>buky_playful_shining_big_book_opening_with_a_whales_a_dragon__9fa0f892-b89b-4381-b385-d6a282b47d81_2</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
	</array>
</dict>
</plist>
